/* portfolio.module.css */

/* The container for the entire page, with a background image */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/back.jpg'); /* Replace with your background image path */
    background-size: cover; /* Ensure the image covers the full container */
    background-position: center;
    background-attachment: fixed;
    color: white;
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black overlay */
  }
  
  .title {
    font-size: 3rem;
    margin-bottom: 40px;
    text-align: center;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  }
  
  .projectLinks {
    text-align: center;
  }
  
  .projectLinks h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .projectLinks ul {
    list-style-type: none;
    padding: 0;
  }
  
  .projectLinks li {
    margin: 15px 0;
  }
  
  .projectLink {
    font-size: 1.5rem;
    color: #f7fbff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .projectLink:hover {
    background-color: rgba(0, 112, 243, 0.1);
    color: #005bb5;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  /* Optional: Add additional styling for responsiveness */
  @media (max-width: 768px) {
    .title {
      font-size: 2.5rem;
    }
  
    .projectLink {
      font-size: 1.2rem;
      padding: 8px 16px;
    }
  }
  